{# src/OC/PlatformBundle/Ressources/views/Bye/index.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms</title>
  </head>
  <body>
  <h1>LA PAGE BYE BYE</h1>
      <hr>
    <p>
      je vous dis aurevoir lol
    </p>
    
  </body>
</html>
