{% extends 'CBCommerceBundle::commercelayout.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
{% endblock %}

{% block cb_commerce_listAnnonce %}
  {% for commerce in commerce %}
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{ asset(commerce.image) }}" width=100 height=200 alt="">
        <!-- <img src="https://lorempixel.com/100/190/nature/6"> -->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>{{ commerce.content }}</p>
        </div>
        <div class="card-action">
          <li>
            <a href="{{ path('cb_platform_view', {'id': commerce.id}) }}">{{ commerce.title }}</a>
          </li>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}
